@media (max-width: 1920px) {
    .hi h1{
        font-size: 5rem;
    }
    .hi p{
        font-size: 2rem;
    }
    .contenedor-proyectos div{
        height: 350px;
        width: 450px
    }
}

@media (max-width: 1440px){
    .contenedor-botones{
        transform: translateY(0px);
    }

    .contenedor-linea-redes{
        padding-top: 90px;
    }

   .contenedor-proyectos div{
    height: 300px;
    width: 400px;
   }
}

@media(max-width:1280px){
    .hi h1{
        font-size: 3rem;
    }
    .hi p{
        font-size: 1.5rem;
        transform: translateY(-100px);
    }
    .contenedor-botones{
        transform: translateY(-135px);
    }
    .imagen-mia{
        height: 250px;
        width: 250px;
        transform: translateY(-60px);
    }
    .imagen-mia img{
        height: 250px;
        width: 250px;
    }
    .contenedor-linea-redes{
        padding-top: 0px;
    }
    .texto-SobreMi{
        font-size: 1.2rem;
    }
}   

@media(max-width:1024px){
    .menu{
        padding-left: 30%;
    }
    .contenedor-proyectos div{
        height: 250px;
        width: 250px;
    }
    .imagen-, .imagen- img{
        display: none;
    }
    .contenedor-texto-boton{
        align-items: center;
        justify-content: center;
    }
    .texto-SobreMi{
        font-size: 1.1rem;
        align-items: start;
        margin-bottom: 40px;
    }
    .formulario h3{
        font-size: 15px;
    }
    .contenedor-inputs input{
        font-size: 15px;
        padding: 20px;
    }
    .inputs textarea{
        padding: 20px; 
    }
    .parrafo::placeholder{
        font-size: 15px;
    }
    .enviar{
        font-size: 20px;
    }
    .si{
        font-size: 35px;
    }
    .logo-nombre-footer img{
        height: 80px;
        width: 80px;
    }
     .logo-nombre-footer h2{
        font-size: 20px;
    }
}

@media(max-width:768px){
    .menu{
        padding-left: 0%;
    }
    .imagen-, .imagen-mia{
        display: none;
    }
    .boton-ver-todos{
        font-size: 20px;
    }
    .contenedor-texto-boton{
        width: 60%;
        align-items: center;
        justify-content: center;
    }
    .texto-SobreMi{
        font-size: 1rem;
        padding: 0px;
    }
    .contenedor-info{
        width: 100%;
        margin-bottom: 0px;
    }
    .contenedor-info h3{
        font-size: 20px;
    }
    .contenedor-inputs{
        width: 100%;
    }
    .enviar{
        font-size: 15px;
    }
    .footer .menu-footer{
        display: none;
    }
}

@media(max-width:480px){
    .Li{
        display: block;
        font-size: 50px;
        color: #bd93f9;
    }
    .menu{
        display: none;
    }
    .hi{
        width: 100%;
    }
    .hi h1{
        font-size: 3rem;
    }
    .contenedor-linea-redes{
        /* border: solid; */
        flex-direction: row;
        transform: translate(150px,-130px);
    }
    .linea{
        display: none;
    }
    .redes{
        flex-direction: row;
    }
    .contenedor-proyectos{
        padding-left: 25px;
    }
    .contenedor-imagenes div{
        height: 200px;
        width: 200px;
    }
    .imagen-, .imagen- img{
        display: none;
    }
    .contenedor-texto-boton{
        width: 100%;
    }
    .about-me{
        padding-left: 25px;
    }
    .texto-SobreMi{
        font-size: 1.1rem;
        margin-bottom: 40px;
    }
    .que-hago{
        padding-left: 25px;
    }
    .card-desarrollo-web, .card-desarrollo-software{
        width: 250px;
        height: 200px;
    }
    .contenedor-card2 img, .contenedor-card1 img{
        height: 60px;
        width: 60px;
    }
    .contenedor-card2 h2, .contenedor-card1 h2{
        font-size: 25px;
    }
    .contenedor-card2 img{
        padding-top: 20px;
    }
    .contenedor-info{
        width: 100%;
        margin-bottom: 0px;
    }
    .contenedor-info h3{
        font-size: 15px;
    }
    .contenedor-inputs{
        width: 100%;
    }
    .enviar{
        font-size: 15px;
    }
    .footer .menu{
        display: none;
    }
    .logo-nombre-footer img{
        height: 60px;
        width: 60px;
    }
    .logo-nombre-footer h2{
        font-size: 15px;
    }
    .bi2{
        font-size: 20px;
    }
    .logo-nombre-footer .letraE{
        font-size: 30px;
    }
    .arriva{
        margin-right: 0px;
    }
    .copy{
        font-size: 15px;
    }
}

@media(max-width:320px){
    .logo-nombre{
        padding-inline: 10px;
    }
    .Li{
        padding-left: 50px;
    }
    .hi h1{
        font-size: 1.9rem;
    }
    .hi p{
        font-size: 1.1rem;
    }
    .boton1, .boton2{
        font-size: 15px;
        padding: 10px;
        transform: translateY(-50px);
    }
    .redes{
        flex-direction: row;
    }
    .contenedor-linea-redes{
        /* border: solid; */
        flex-direction: row;
        transform: translate(70px,-250px); 
    }
    .contenedor-proyectos h2{
        font-size: 35px;
    }
    .texto-SobreMi{
        font-size: 1rem;
        margin-bottom: 90px;
    }
    .boton-CV{
        font-size: 15px;
    }
    .contenedor-info{
        display: none;
    }
    .copy{
        font-size: 10px;
    }
}