
/* General adjustments for smaller screens */
@media (max-width: 1920px) {
  
    /* Inician propiedes header */
    .logo-nombre img{
        height: 120px;
        width: 120px;
    }

    .logo-nombre h2 {
        font-size: 35px;
    }
  
    .letraE{
        font-size: 55px;
    }
  
    .menu a {
      font-size: 30px;
      transition: 1s;
    }

    .menu a:hover{
        color: var(--color-principal-bt);
    }
  
    /* Finalizan propiedades header */

    /* Inician propiedades hero */
    .hi {
      font-size: 50px;
      width: 80%;
    }
  
    .hi p {
        font-size: 25px;
        transform: translateY(-110px);
        padding-bottom: 10px;
    }
  
    .imagen-mia {
        text-align: center;
      transform: translateY(30px);
    }
  
    .imagen-mia img {
        width: 400px;
        height: 400px;
    }

    .contenedor-botones{
        padding-top: 25px;
    }

    .contenedor-linea-redes {
        margin-top: 70px;
    }
  
    .linea{
        width: 4px;
    }

    .bi{
        font-size: 45px;
    }
    /* Finalizan propiedades hero */

    /* Inician propieadades proyectos */
  
    .contenedor-imagenes div {
        height: 350px;
        width: 450px;
    }
  
    .boton-ver-todos{
        font-size: 35px;
    }
    /* Finalizan propiedades proyecto */

    /* Inician propiedades about me */

    .texto-SobreMi{
        font-size: 1.4rem;
    }

    .boton-CV{
        font-size: 30px;
    }
    /* Finalizan propiedades about me */

    /* Inician propiedades que hago */  
    .card-desarrollo-web, .card-desarrollo-software{
    height: 400px;
    width: 500px;
    }
    /* Finalizan propiedades que hago */

    /* Inician propiedades footer */
    
    .redes-footer{
        font-size: 40px;
    }

    .instagram, .linkedin, .github{
        font-size: 40px;
    }

    .logo-nombre-footer img{
        height: 120px;
        width: 120px;
    }

    .logo-nombre-footer h2{
        font-size: 35px;
    }
  }



  @media (max-width: 1440px) {
  
    /* Inician propiedes header */
    .logo-nombre img{
        height: 85px;
        width: 85px;
    }

    .logo-nombre h2 {
        font-size: 30px;
    }
  
    .letraE{
        font-size: 45px;
    }

    .menu a{
        font-size: 20px;
    }
  
    /* Finalizan propiedades header */

    /* Inician propiedades hero */
    .hi {
      font-size: 35px;
      width: 80%;
      height: 350px;
    }
  
    .hi p {
        font-size: 20px;
        transform: translateY(-60px);
    }
  
    .imagen-mia {
        margin-right: 20%;
        text-align: center;
    }

    .imagen-mia img{
        border-radius: 20px 20px;
        width: 350px;
        height: 350px;
    }
  
    .contenedor-linea-redes{
        margin-top: 100px;
    }

    .linea{
        width: 3px;
    }

    .bi{
        font-size: 35px;
    }
    /* Finalizan propiedades hero */

    /* Inician propieadades proyectos */
  
    .contenedor-imagenes div {
        height: 300px;
        width: 400px;
    }
  

    /* Finalizan propiedades proyecto */

    /* Inician propiedades about me */

    .texto-SobreMi{
        font-size: 1.3rem;
    }

    .boton-CV{
        font-size: 25px;
    }
    /* Finalizan propiedades about me */

    /* Inician propiedades que hago */  
    .card-desarrollo-web, .card-desarrollo-software{
    height: 400px;
    width: 500px;
    }
    /* Finalizan propiedades que hago */

    /* Inician propiedades footer */
    
    .redes-footer{
        font-size: 25px;
    }

    .instagram, .linkedin, .github{
        font-size: 25px;
    }

    .logo-nombre-footer img{
        height: 80px;
        width: 80px;
    }

    .logo-nombre-footer h2{
        font-size: 25px;
    }
  }



  @media (max-width: 1280px) {
  
    /* Inician propiedes header */
    .logo-nombre img{
        height: 80px;
        width: 80px;
    }

    .logo-nombre h2 {
        font-size: 20px;
    }
  
    .letraE{
        font-size: 35px;
    }

    .menu a{
        font-size: 20px;
    }
  
    /* Finalizan propiedades header */

    /* Inician propiedades hero */
    .hi {
      font-size: 35px;
      width: 80%;
      height: 350px;
    }
  
    .hi p {
        font-size: 20px;
    }
  
    .imagen-mia {
        text-align: center;
    }

    .imagen-mia img{
        border-radius: 20px 20px;
        width: 300px;
        height: 300px;
    }
  
    .contenedor-linea-redes{
        margin-top: 100px;
    }

    .linea{
        width: 2px;
    }

    .bi{
        font-size: 30px;
    }

    .boton1, .boton2{
        font-size: 20px;
    }
    /* Finalizan propiedades hero */

    /* Inician propieadades proyectos */
    .contenedor-proyectos h2{
        padding-top: 100px;
    }

    .contenedor-imagenes div {
        height: 300px;
        width: 300px;
    }
  
    .boton-ver-todos{
        font-size: 20px;
    }
    /* Finalizan propiedades proyecto */

    /* Inician propiedades about me */
    .texto-SobreMi{
        font-size: 1.2rem;
    }

    .boton-CV{
        font-size: 20px;
    }
    /* Finalizan propiedades about me */

    /* Inician propiedades que hago */  
    .card-desarrollo-web, .card-desarrollo-software{
    height: 400px;
    width: 500px;
    }
    /* Finalizan propiedades que hago */

    /* Propiedades contacto */

    .contenedor-info{
        align-items: start;
    }

    .formulario h3{
        font-size: 19px;
    }

    .info{
    width: 20%;
    }

    .info-detallada{
        width: 80%;
    }

    .contenedor-inputs input{
        font-size: 20px;
    }

    .texto, .email, .parrafo{
        border: 3px #6473a3 solid;
    }

    .parrafo::placeholder{
        font-size: 20px;
    }

    .inputs textarea{
        font-size: 20px;
    }

    .enviar{
            font-size: 20px;
    }
    /* Inician propiedades footer */
    .footer{
        width: 100%;
    }
    
    .redes-footer{
        font-size: 25px;
    }

    .instagram, .linkedin, .github{
        font-size: 25px;
    }

    .logo-nombre-footer img{
        height: 80px;
        width: 80px;
    }

    .logo-nombre-footer h2{
        font-size: 25px;
    }
  }



  @media (max-width: 1024px) {
  
    /* Inician propiedes header */

    .main{
        width: 100%;
    }

    .logo-nombre img{
        height: 60px;
        width: 60px;
        justify-content: space-evenly;
    }

    .logo-nombre h2 {
        font-size: 15px;
    }
  
    .letraE{
        font-size: 25px;
    }

    .menu a{
        font-size: 15px;
    }
  
    /* Finalizan propiedades header */

    /* Inician propiedades hero */
    .contenedor-hero{
        padding-left: 0px;
        height: 160vh;
    }

    .contendor-foto-texto{
        width: 60%;
        padding: 0px;
        justify-content: space-around;
    }

    .hi {
      font-size: 25px;
      width: 60%;
      height: 250px;
      padding-left: 20px;
    }
  
    .hi p {
        font-size: 15px;
        transform: translateY(-40px);
    }
  
    .imagen-mia {
        text-align: center;
        margin-right: 15%;
      transform: translateY(-30px);
    }

    .imagen-mia img{
        border-radius: 20px 20px;
        width: 250px;
        height: 250px;
    }
  

    .contenedor-linea-redes{
        margin-top: 100px;
    }

    .linea{
        width: 2px;
    }

    .bi{
        font-size: 20px;
    }

    .contenedor-botones{
        height: 60px;
        padding-left: 20px;
    }

    .boton1, .boton2{
        font-size: 10px;
        padding: 15px;
        width: 40%;
    }
    /* Finalizan propiedades hero */

    /* Inician propieadades proyectos */
    .contenedor-imagenes div {
        height: 200px;
        width: 200px;
    }
  
    .boton-ver-todos{
        font-size: 10px;
    }
    /* Finalizan propiedades proyecto */

    /* Inician propiedades about me */


    .imagen-, .borde, .imagen- img{
       display: none;
    }

    .contenedor-texto-boton{
        width: 60%;
        padding-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    .contenedor-texto-boton h2{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .texto-SobreMi{
        font-size: 1.1rem;
    }

    .boton-CV{
        font-size: 15px;
        padding: 15px;
    }
    /* Finalizan propiedades about me */

    /* Inician propiedades que hago */  

    .card-desarrollo-web, .card-desarrollo-software{
    height: 350px;
    width: 300px;
    }

    .que-hago h2{
        width: 85%;
        font-size: 30px;
    }

    .contenedor-card2 img, .contenedor-card1 img{
        width: 150px;
        height: 150px;
    }
    /* Finalizan propiedades que hago */

    /* Propiedades contacto */


    .formulario h3{
        font-size: 15px;
    }

    .info{
        width: 15%;
    }

    .info-detallada{
        height: 200px;
        padding: 0px;
        align-items: end;
        margin-top: 10px;
    }

    .contenedor-inputs{
        margin-bottom: 20px;
    }

    .contenedor-inputs input{
        font-size: 15px;
        padding: 20px;
    }

    .texto, .email, .parrafo{
        border: 3px #6473a3 solid;
    }

    .parrafo::placeholder{
        font-size: 15px;
    }

    .inputs textarea{
        font-size: 15px;
        padding: 20px;
    }

    .enviar{
        font-size: 15px;
    }

    .contenedor-inputs{
        width: 50%;
    }

    .inputs{
        width: 90%;
    }

    .enviar{
        font-size: 15px;
        padding: 15px;
    }
    /* Inician propiedades footer */
    .footer{
        width: 100%;
        padding: 0px;
    }
    
    .redes-footer{
        font-size: 20px;
    }

    .instagram, .linkedin, .github{
        font-size: 20px;
    }

    .logo-nombre-footer img{
        height: 60px;
        width: 60px;
    }

    .logo-nombre-footer h2{
        font-size: 20px;
    }

    .footer a{
        font-size: 12px;
    }

    .arriva-footer{
        margin-left: 80px;
        width: 90%;
        align-items: end;
        justify-content: end;
    }

    .arriva{
        margin-right: 0px;
    }

    .si{
        align-items: center;
        justify-content: center;
        font-size: 30px;
        margin-right: 15px;
    }

    .copy{
        align-items: center;
        font-size: 10px;
    }

    .copy p{
        text-align: center;
        justify-content: space-between;
    }
  }


  @media (max-width: 768px) {
  
    /* Inician propiedes header */

    .logo-nombre img{
        height: 60px;
        width: 60px;
        justify-content: space-evenly;
    }

    .logo-nombre h2 {
        font-size: 15px;
    }
  
    .letraE{
        font-size: 25px;
    }

    .menu a{
        font-size: 15px;
    }
  
    /* Finalizan propiedades header */

    /* Inician propiedades hero */
    .contenedor-hero{
        padding-left: 0px;
        height: 160vh;
    }

    .contendor-foto-texto{
        padding: 0px;
        justify-content: space-around;
    }

    .hi {
      font-size: 25px;
      width: 60%;
      height: 250px;
      padding-left: 20px;
    }
  
    .hi p {
        font-size: 15px;
        transform: translateY(-40px);
    }
  
    .imagen-mia {
        width: 30%;;
        text-align: center;
        margin-right: 0%;
      transform: translateY(-30px);
    }

    .imagen-mia img{
        border-radius: 20px 20px;
        width: 200px;
        height: 250px;
    }
  

    .contenedor-linea-redes{
        margin-top: 100px;
    }

    .linea{
        width: 2px;
    }

    .bi{
        font-size: 20px;
    }

    .contenedor-botones{
        /* border: solid; */
        /* padding-left: 20px; */
        justify-content: space-evenly;
    }

    .boton1, .boton2{
        font-size: 10px;
        padding: 15px;
    }
    /* Finalizan propiedades hero */

    /* Inician propieadades proyectos */

    .contenedor-imagenes div {
        height: 200px;
        width: 200px;
    }
  
    .boton-ver-todos{
        font-size: 10px;
    }
    /* Finalizan propiedades proyecto */

    /* Inician propiedades about me */

    .imagen-, .borde, .imagen- img{
        display: none;
    }

    .contenedor-texto-boton{
        width: 60%;
        padding-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    .contenedor-texto-boton h2{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .texto-SobreMi{
        font-size: 1.1rem;
    }

    .boton-CV{
        font-size: 15px;
        padding: 15px;
    }
    /* Finalizan propiedades about me */

    /* Inician propiedades que hago */  

    .card-desarrollo-web, .card-desarrollo-software{
    height: 350px;
    width: 300px;
    }

    .que-hago h2{
        font-size: 30px;
    }

    .contenedor-card2 img, .contenedor-card1 img{
        width: 150px;
        height: 150px;
    }
    /* Finalizan propiedades que hago */

    /* Propiedades contacto */

    .formulario h3{
        font-size: 12px;
    }

    .info{
        width: 15%;
    }

    .info-detallada{
        padding: 0px;
        align-items: end;
        margin-top: 10px;
    }

    .contenedor-inputs{
        margin-bottom: 20px;
    }

    .contenedor-inputs input{
        font-size: 15px;
        padding: 20px;
    }

    .texto, .email, .parrafo{
        border: 3px #6473a3 solid;
    }

    .parrafo::placeholder{
        font-size: 15px;
    }

    .inputs textarea{
        font-size: 15px;
        padding: 20px;
    }

    .enviar{
        font-size: 15px;
    }

    .contenedor-inputs{
        width: 50%;
    }

    .inputs{
        width: 90%;
    }

    .enviar{
        font-size: 15px;
        padding: 15px;
    }
    /* Inician propiedades footer */
    
    .redes-footer{
        font-size: 20px;
    }

    .instagram, .linkedin, .github{
        font-size: 20px;
    }

    .logo-nombre-footer img{
        height: 60px;
        width: 60px;
    }

    .logo-nombre-footer h2{
        font-size: 15px;
    }

    .footer a{
        font-size: 13px;
    }

    .arriva-footer{
        margin-left: 75px;
        align-items: end;
        justify-content: end;
    }

    .arriva{
        margin-right: 0px;
        margin-right: 10px;
    }

    .si{
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }

    .copy{
        align-items: center;
        width: 63%;
        font-size: 10px;
        margin-left: 70px;
    }

    .copy p{
        text-align: center;
        justify-content: space-between;
    }
  }


  @media (max-width: 480px) {
  
    /* Inician propiedes header */
    .header{
        height: 100px;
    }

    .header-container{
        margin-right: 30px;
    }

    .logo-nombre img{
        height: 60px;
        width: 60px;
        justify-content: space-evenly;
    }

    .logo-nombre h2 {
        font-size: 15px;
    }
  
    .letraE{
        font-size: 25px;
    }

    .menu a{
        display: none;
    }

    .Li{
        color: var(--color-principal-bt);
        font-size: 40px;
    }
  
    /* Finalizan propiedades header */

    /* Inician propiedades hero */
    .contenedor-hero{
        padding-left: 0px;
        height: 160vh;
    }

    .contendor-foto-texto{
        padding: 0px;
        justify-content: space-around;
    }

    .hi {
      font-size: 25px;
      width: 100%;
      height: 250px;
    }
  
    .hi p {
        font-size: 15px;
        transform: translateY(-40px);
    }
  
    .imagen-mia, .imagen-mia img {
     display: none;
    }  

    .contenedor-linea-redes{
        flex-direction: row;
        align-items: start;
        width: 100%;
        height: 30px;
        transform: translate(0px,-150px);
        margin-top: 0px;
        /* display: none; */
    }

    .redes{
        flex-direction: row;
    }

    .linea{
        display: none;
    }

    .bi{
        justify-content: center;
        padding: 0px;
        padding-inline: 15px;
        font-size: 30px;
    }

    .contenedor-botones{
        justify-content: space-evenly;
    }

    .boton1, .boton2{
        transform: translateY(-90px);
        font-size: 20px;
        padding: 15px;
    }
    /* Finalizan propiedades hero */

    /* Inician propieadades proyectos */
    .contenedor-proyectos h2{
        font-size: 30px;
    }

    .contenedor-imagenes div {
        height: 200px;
        width: 200px;
    }
  
    .boton-ver-todos{
        font-size: 15px;
    }
    /* Finalizan propiedades proyecto */

    /* Inician propiedades about me */

    .imagen-, .borde, .imagen- img{
        display: none;
    }

    .contenedor-texto-boton{
        width: 60%;
        padding-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    .contenedor-texto-boton h2{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .texto-SobreMi{
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }

    .boton-CV{
        font-size: 15px;
        padding: 15px;
    }
    /* Finalizan propiedades about me */

    /* Inician propiedades que hago */  

    .card-desarrollo-web, .card-desarrollo-software{
    height: 350px;
    width: 300px;
    }

    .que-hago h2{
        font-size: 30px;
    }

    .contenedor-card2 img, .contenedor-card1 img{
        width: 150px;
        height: 150px;
    }
    /* Finalizan propiedades que hago */

    /* Propiedades contacto */

    .contenedor-info{
       display: none;
    }

    .formulario h3{
        font-size: 12px;
    }

    .contenedor-inputs{
        width: 100%;
    }

    .contenedor-inputs input{
        font-size: 15px;
        padding: 20px;
    }

    .texto, .email, .parrafo{
        border: 3px #6473a3 solid;
    }

    .parrafo::placeholder{
        font-size: 15px;
    }

    .inputs textarea{
        font-size: 15px;
        padding: 20px;
    }

    .enviar{
        font-size: 15px;
    }

    .contenedor-inputs{
        width: 100%;
    }

    .inputs{
        width: 100%;
    }

    .enviar{
        font-size: 15px;
        padding: 15px;
    }
    /* Inician propiedades footer */
    .bi2{
        display: flex;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        color:#6b78a3;
        transition: 0.5s;
    }
    
    .bi2:hover{
        color: #ff79c6;
    }
    
    .bi2-instagram:hover{
        color: #ff3140;
    }
    
    .bi2-linkedin:hover{
        color: #0b65c3;
    }
    
    .bi2-github:hover{
        color: #e6edf3;
    }

    .logo-nombre-footer img{
        height: 50px;
        width: 50px;
    }

    .logo-nombre-footer h2{
        font-size: 15px;
    }

    .arriva-footer{
        width: 90%;
        margin-left: 40px;
        align-items: end;
        justify-content: end;
    }

    .arriva{
        margin-right: 0px;
    }

    .si{
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }

    .copy{
        align-items: center;
        width: 100%;
        font-size: 10px;
        margin-left: 0px;
        padding: 0px 0px;
    }

    .copy p{
        justify-content: space-between;
    }
  } 




