body{
    background-color: #282a36;
    margin: 0;
}

/* Inician las propiedades del header */

header{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    height: 90px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.logo-nombre{
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.logo-nombre img{
   height: 80px;
   width: 80px;
}

.logo-nombre h2{
    color: #d0d3d6;
    font-weight: lighter;
}

.letraE{
    color: #c5a2f6;
    font-size: 40px;
    font-weight: lighter;
}

.menu{
    padding: 20px;
    margin-right: 10px;
}

.menu a{
    padding: 20px;
    text-decoration: none;
    color: #d0d3d6;
    font-size: 20px;
    transition: 1s;
}

.menu a:hover{
    color: #c5a2f6;
}
/* Finalizan las propiedades del header */
